body,html {
    background-color: black;
}
#imagendisco {
    width: 512px;
    height: 512px;
}
#titulo1 {
    position: absolute;
width: 227px;
height: 64px;
left: 66px;
top: 570px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;
}
#titulo2 {
    position: absolute;
width: 106px;
height: 16px;
left: 66px;
top: 622px;

font-family: Roboto;
font-style: italic;
font-weight: 300;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;
}
#titulo3 {
    position: absolute;
width: 103px;
height: 13px;
left: 66px;
top: 653px;

font-family: Roboto;
font-style: italic;
font-weight: 300;
font-size: 11px;
line-height: 13px;
/* identical to box height */


color: #DAFF00
}
#imagenzine {
    width: 512px;
    height: 512px;
}