body,html {
    background-color: black;
}
#imagendisco {
    width: 512px;
    height: 512px;
}
#titulo {
    position: absolute;
width: 227px;
height: 64px;
left: 66px;
top: 604px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;
}
h2 {
    font-style: italic;
}