body,html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
#contenedor {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#menu {
    position: absolute;
width: 79px;
height: 99px;
left: 1147px;
top: 49px;

font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
list-style: none
}
#tituloindex {
    position: absolute;
    width: 1280px;
    height: 720px;
    left: 0px;
    top: 0px;
}
#tituloindex #typo1 {
    position: absolute;
    width: 200px;
    height: 19px;
    left: 61px;
    top: 56px;
    
    font-family: 'Montserrat' Black;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 20px;
    /* or 83% */
    
    
    color: #FFFFFF;
}
#seccion2 {
    position: absolute;
    width: 1280px;
    height: 720px;
    left: 0px;
    top: 721px;
}
#seccion2 #fotoperfil {
    position: absolute;
width: 194px;
height: 194px;
left: 61px;
top: 814px;
}
#seccion2 #hello {
    position: absolute;
width: 207px;
height: 81px;
left: 63px;
top: 1105px;

font-family: 'Montserrat' Black;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 20px;
/* or 143% */


color: #FFFFFF;
}
#seccion2 #hola {
    position: absolute;
width: 176px;
height: 80px;
left: 63px;
top: 1217px;

font-family: 'Montserrat' Black;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 20px;
/* or 143% */


color: #FFFFFF;
}
#seccion3 #about {
    position: absolute;
    width: 1280px;
    height: 720px;
    left: 0px;
    top: 1440px;
}
#seccion3 #workarchive {
    position: absolute;
width: 283px;
height: 122px;
left: 64px;
top: 1474px;

font-family: Montserrat Black;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 25px;
/* or 104% */


color: #FFFFFF;
}
#seccion3 #biografia {
    position: absolute;
    width: 287px;
    height: 188px;
    left: 67px;
    top: 1612px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    
    color: #FFFFFF;
}
#seccion4 {
    position: absolute;
    width: 1280px;
    height: 720px;
    left: 0px;
    top: 2160px;
}
#seccion4 #fotovinilo {
    position: absolute;
    width: 512px;
    height: 512px;
    left: -1px;
    top: 2306px;
}
#seccion4 #nombrezine2 {
    position: absolute;
width: 287px;
height: 188px;
left: 490px;
top: 2562px;

font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;
}